@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>
<br/>

<ListMaker Title="Hello World">
    <Header> 
        <h3>Custom Header 123</h3>
        <hr/>
    </Header>
    <Footer>
        <hr/>
        <h3> Custom Footer 123</h3>
    </Footer>
</ListMaker>
<br/>
<ListMaker2 Title="Hello List Maker 2">
    <Header>
        <h3>List Maker 2 Header </h3>
        <hr />
    </Header>
    <Footer>
        <hr />
        <h3> List Maker 2 Footer </h3>
    </Footer>
</ListMaker2>